@model string
@{
    ViewData["Title"] = "Тех. Администратор: " + Model;
}

<h1>@ViewData["Title"]</h1>

<div>
<a asp-action="ListTasks" class="btn btn-primary btn-lg">
  <i class="fas fa-plus"></i> Список задач
</a>

<a asp-action="Index" asp-controller="Auth" class="btn btn-danger">
    Выйти
</a>