@model TaskTechScheduler.Web.ViewModels.Shared.ShowTaskViewModel;

<div class="container">
    <h1>Задача: @Model.Task.Title</h1>
        <div class="form-group">
            <label>Заголовок</label>
            <input asp-for="Task.Title" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label >Описание</label>
            <textarea asp-for="Task.Description" class="form-control" readonly></textarea>
        </div>
        <div class="form-group">
            <label >Кто Выполняет</label>
            <input asp-for="Task.Description" class="form-control" readonly value=@Model.FullNameUserAdmins>
        <div>
        
        @if(Model.Task.isCompleted)
        {
            <div class="form-group">
                <label> Дата выполнения</label>
                <input class="form-control"readonly value="@Model.Task.CompletedDate"/>
            </div>
            <div class="form-group">
                <label> Что было сделано</label>
                <input class="form-control"readonly value="@Model.Task.ResultDescription"/>
            </div>
        }

        <br />

            @if(Model.Task.isCompleted)
            {
                //nothing
            }
            else if(Model.IsFree)
            {

                <a style="float:left"class="btn btn-primary" asp-action="AcceptTask" asp-route-id=@Model.Task.Id>Взять задачу</a>
            }
            else if (Model.IsMine)
            {
                <form method="post"  asp-action="DoneTask">
                    
                    <div class="form-group">
                        <label> Что было сделано</label>
                        <input name="description" class="form-control"type="text">
                    </div>
                    <input name="id" value="@Model.Task.Id" hidden type="number"/>
                    <br/>
                    <button style="float:left" type="submit" class="btn btn-success">Завершить</button>
                </form>
            }
            
                <a style="float:left"class="btn btn-secondary" asp-action="ListTasks">Назад</a>
        </div>
</div>