@model string
@{
    ViewData["Title"] = "Добро пожаловать главный админ " + Model; 
}

<h1>@ViewData["Title"]</h1>

<div>
<a asp-action="ListTasks" class="btn btn-primary btn-lg">
  <i class="fas fa-plus"></i> Список задач
</a>

<a asp-action="DownloadReport" class="btn btn-primary btn-lg">
  <i class="fas fa-plus"></i> Скачать отчет
</a>
</div>

<a asp-action="Index" asp-controller="Auth" class="btn btn-danger">
    Выйти
</a>