@model TaskTechScheduler.Web.ViewModels.Shared.ShowTaskViewModel;

<div class="container">
    <h1>Задача: @Model.Task.Title</h1>
    <form method="post">
        <div class="form-group">
            <label>Заголовок</label>
            <input asp-for="Task.Title" class="form-control" placeholder="Введите заголовок">
        </div>
        <div class="form-group">
            <label >Описание</label>
            <textarea asp-for="Task.Description" class="form-control" placeholder="Введите описание"></textarea>
        </div>
        <div class="form-group">
            <label >Кто Выполняет</label>
            <input asp-for="Task.Description" class="form-control" readonly value=@Model.FullNameUserAdmins>
        </div>
        <div class="form-group">
            <label >Выполнено</label>
            <input asp-for="Task.isCompleted" type="checkbox">
        </div>
         <div class="form-group">
            <label >Дата выполнения</label>
            <input asp-for="Task.CompletedDate" type="text">
        </div>
 
        <br />
        <div>
            <button style="float:left" type="submit" class="btn btn-primary" asp-action="UpdateTask" asp-route-id=@Model.Task.Id>Обновить</button>
            <button style="float:left"class="btn btn-danger mr" asp-action="DeleteTask" asp-route-id="@Model.Task.Id">Удалить</button>
            <button style="float:left"class="btn btn-secondary mr" asp-action="ListTasks" >Назад</button>
        </div>
    </form>
</div>